################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AppChamaGas/AppChamaGas/AppChamaGas/obj
/AppChamaGas/.vs/AppChamaGas/v15
/AppChamaGas/AppChamaGas/AppChamaGas.Android/obj
/AppChamaGas/AppChamaGas/AppChamaGas.iOS/obj
/AppChamaGas/AppChamaGas/AppChamaGas.UWP/obj
/AppChamaGas/AppChamaGas/AppChamaGas/bin/Debug/netstandard2.0
